{% extends 'botchat/base.html' %}
{% load static %}
{% block title %}ThiccPandas{% endblock %}
{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
	  <div class="container">
		<a class="navbar-brand" href="#">ThiccPandas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
			  <a class="nav-link" href="#" data-toggle="modal" data-target="#signUpWindow">Sign Up</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#" data-toggle="modal" data-target="#loginWindow">Log In</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>

	<header class="text-left text-white w-100 h-100 align-items-center d-flex" style="background-image: url({% static 'img/bg.jpg' %}); background-position: bottom right; background-color: #000; background-repeat: no-repeat; background-size: contain;">
		<div class="d-block mx-4 mx-lg-5">
			<h1 class="mb-0 display-4">Nature is not a place to visit. <br>It is home.</h1>
		</div>
	</header>

	<section>
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-lg-6 order-lg-2">
			<div class="p-5">
			  <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
			</div>
		  </div>
		  <div class="col-lg-6 order-lg-1">
			<div class="p-5">
			  <h2 class="display-4">Image sensing...</h2>
			  <p>For sensing the specific characteristics for all species eg. Stripes, spots etc. this is done as, each animal has unique stripes/spots.</p>
			</div>
		  </div>
		</div>
	  </div>
	</section>

	<section>
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-lg-6">
			<div class="p-5">
			  <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
			</div>
		  </div>
		  <div class="col-lg-6">
			<div class="p-5">
			  <h2 class="display-4">Voice sensing!</h2>
			  <p>Often, the animals are transported in large containers or in the ways that it isn’t visible to naked eye! So, for that we use sound sensing.</p>
			</div>
		  </div>
		</div>
	  </div>
	</section>

	<section>
	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-lg-6 order-lg-2">
			<div class="p-5">
			  <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
			</div>
		  </div>
		  <div class="col-lg-6 order-lg-1">
			<div class="p-5">
			  <h2 class="display-4">GPS Tracking!</h2>
			  <p>In case, there is a discrepancy in the general trend of the animals found, the system notes down the GPS location, date and time and reports it for further investigation.</p>
			</div>
		  </div>
		</div>
	  </div>
	</section>

	<!-- Footer -->
	<footer class="py-5 bg-black">
	  <div class="container">
		<p class="m-0 text-center text-white small">Copyright &copy; ThiccPandas.com 2018</p>
	  </div>
	  <!-- /.container -->
	</footer>

<div class="modal fade" id="loginWindow">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- header -->
			<div class="modal-header align-items-center">
				<h3 class="modal-title">Login</h3>
				<button type="button" class="close center-xy" data-dismiss="modal">&times;</button>
			</div>
			<!-- body -->
			<div class="modal-header align-items-center">
				<form role="form" class="w-100 mb-0">
					<div class="form-group mt-3">
						<input id="lusername" type="username" class="form-control my-2" placeholder="Username"/>
						<input id="lpass" type="password" class="form-control my-2" placeholder="Password" />
						<div class="alert alert-danger fade show d-none mb-0 mt-4" role="alert" id="logAlert"> 
							<strong>Holy guacamole!</strong> Incorrect username or password.
						</div>
					</div>
				</form>
			</div>
			<!-- footer -->
			<div class="modal-footer">
				<button class="btn btn-dark btn-block" onclick="logIn(event)">Log In</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="signUpWindow">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- header -->
			<div class="modal-header align-items-center">
				<h3 class="modal-title">SignUp</h3>
				<button type="button" class="close center-xy" data-dismiss="modal">&times;</button>
			</div>
			<!-- body -->
			<div class="modal-header align-items-center">
				<form role="form" class="w-100 mb-0">
					<div class="form-group my-3">
						<input id="semail" type="email" class="form-control my-2" placeholder="Email"/>
						<input id="susername" type="username" class="form-control my-2" placeholder="Username"/>
						<input id="spass" type="password" class="form-control my-2" placeholder="Password"/>
						<div class="alert alert-danger fade show d-none mb-0 mt-4" role="alert" id="signAlert"> 
							<strong>Holy guacamole!</strong> Same username or email already exists.
						</div>
					</div>
				</form>
			</div>
			<!-- footer -->
			<div class="modal-footer">
				<button class="btn btn-dark btn-block" onclick="signUp(event)">Sign Up</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javaScripts %}
<script type="text/javascript">
	
	function signUp(event){
		$.ajax({  
			url: '/',  
			method: 'POST',
			data: {
				'type': "sign",
				'email': $("#semail").val(),
				'username': $("#susername").val(),
				'password': $("#spass").val(),
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},  
			success: function(data) {  
				if(data["data"] == 'success'){
					document.location.reload();
				}
				else{
					$("#semail").val("");
					$("#susername").val("");
					$("#spass").val("");
					$("#signAlert").removeClass('d-none');
				}
			}  
		});
	}

	function logIn(event){
		$.ajax({  
			url: '/',  
			method: 'POST',
			data: {
				'type': "log",
				'username': $("#lusername").val(),
				'password': $("#lpass").val(),
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},  
			success: function(data) {  
				if(data["data"] == 'success'){
					document.location.reload();
				}
				else{
					$("#lusername").val("");
					$("#lpass").val("");
					$("#logAlert").removeClass('d-none');
				}
			}  
		});
	}

</script>
{% endblock %}  